.mui-style-ltr-ee20y-MuiPaper-root {
  width: 100%;
  min-width: 100%;
  max-height: "100%";
  border-radius: 0;
}
.tss-11quiee-MUIDataTable-paper {
  width: 100%;
}

.tss-1opebqo-MUIDataTable-caption {
  right: auto !important;
  left: auto !important;
}
.mui-style-ltr-1j4t9z4-MuiStepper-root .MuiStepLabel-root {
  font-size: 40;
}

#summaryTable .tss-tlx3x1-MUIDataTableToolbar-root h4 {
  position: absolute;
  width: fit-content;
  top: 0;
}
#summaryTable .tss-qbo1l6-MUIDataTableToolbar-actions {
  display: table;
  padding: 0;
  position: relative;
}
#summaryTable .tss-qbo1l6-MUIDataTableToolbar-actions svg {
  color: #1a5632;
}
#summaryTable .tss-1cdcmys-MUIDataTable-responsiveBase {
  border: 1px solid #96c11f;
}
